# .gitignore

# Ignore Python build artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.eggs

# Ignore Docker files
Dockerfile
docker-compose.yml
#*.dockerignore

# Ignore database files
*.db
*.sql
*.sqlite
# Ignore everything in the /db directory
/db/*
# But don't ignore the README.md file
!/db/README.md
# Ignore everything in the /node directory
/node/*
# But don't ignore the README.md file
!/node/README.md
# Ignore environment and configuration files
.env
*.ini
*.json
*.yaml
*.yml

# Ignore logs
logs/
*.log

# Ignore system files
.DS_Store
Thumbs.db

