# .gitignore

# Ignore Python build artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.eggs

# Ignore Docker files
#Dockerfile
docker-compose.yml
#*.dockerignore

# Ignore database files
*.db
*.sql
*.sqlite
# Ignore environment and configuration files
.env
*.ini
*.json
*.yaml
*.yml

# except example-docker-compose.yml files
!example-docker-compose.yml

# Ignore everything in the /db/.database directory
/db/.database/*
# But don't ignore the README.md file
!/db/.database/README.md

# Ignore everything in the /node/qrl directory
/node/qrl/*
# But don't ignore the README.md or dockerfile file
!/node/README.md
!/node/qrl/config.yml

# Ignore logs
logs/
*.log

# Ignore system files
.DS_Store
Thumbs.db